/* body {
    margin: 0;
}
.home-all {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.home-head {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 40px;
background-color: lightseagreen;
border-radius: 100px;
max-width: 1300px;
}

.plant-logo {
    border-radius: 100px;
}

.lorem {
padding:0px 30px;

} */